<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="iiwad_gazebo" params="robot_name">

     <!-- Enable the Joint Feedback -->
    <gazebo reference="${robot_name}_larm_joint_7">
      <provideFeedback>true</provideFeedback>
    </gazebo>

     <!-- Enable the Joint Feedback -->
    <gazebo reference="${robot_name}_rarm_joint_7">
      <provideFeedback>true</provideFeedback>
    </gazebo>



    <gazebo reference="${robot_name}_larm_link_ee">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <gazebo reference="${robot_name}_rarm_link_ee">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>



    <gazebo reference="${robot_name}_torso_link">
      <sensor type="multicamera" name="stereo_camera">
	<update_rate>30.0</update_rate>
	<camera name="left">
	  <pose>0.424264 0.03 1.6 0 ${radians(45)} 0</pose>
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
	</camera>
	<camera name="right">
          <pose>0 -0.03 1.6 0 ${radians(45)} 0</pose>
          <horizontal_fov>1.3962634</horizontal_fov>
          <image>
            <width>800</width>
            <height>800</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.02</near>
            <far>300</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
	</camera>
	<plugin name="stereo_camera_controller" filename="libgazebo_ros_multicamera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${robot_name}/camera</cameraName>
          <imageTopicName>image_raw</imageTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <frameName>left_camera_optical_frame</frameName>
          <!--<rightFrameName>right_camera_optical_frame</rightFrameName>-->
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
	</plugin>
      </sensor>
    </gazebo>








    
    <!-- use hrpsys_gazebo_plugin instead of these -->
    
    <!-- The ft_sensor plugin -->
    <!-- <gazebo> -->
    <!--   <plugin name="larm_ft_sensor" filename="libgazebo_ros_ft_sensor.so"> -->
    <!--     <updateRate>50.0</updateRate> -->
    <!--     <topicName>/${robot_name}/state/CartesianWrench</topicName> -->
    <!--     <jointName>${robot_name}_larm_joint_7</jointName> -->
    <!--   </plugin> -->
    <!-- </gazebo>    -->

    <!-- The ft_sensor plugin -->
    <!-- <gazebo> -->
    <!--   <plugin name="rarm_ft_sensor" filename="libgazebo_ros_ft_sensor.so"> -->
    <!--     <updateRate>50.0</updateRate> -->
    <!--     <topicName>/${robot_name}/state/CartesianWrench</topicName> -->
    <!--     <jointName>${robot_name}_rarm_joint_7</jointName> -->
    <!--   </plugin> -->
    <!-- </gazebo>    -->

    <!-- Load Gazebo lib and set the robot namespace -->
    <!-- <gazebo> -->
    <!--   <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"> -->
    <!--     <robotNamespace>/${robot_name}</robotNamespace> -->
    <!--   </plugin> -->
    <!-- </gazebo> -->

    <!-- Link0 -->
    <gazebo reference="${robot_name}_larm_link_0">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link1 -->
    <gazebo reference="${robot_name}_larm_link_1">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link2 -->
    <gazebo reference="${robot_name}_larm_link_2">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link3 -->
    <gazebo reference="${robot_name}_larm_link_3">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link4 -->
    <gazebo reference="${robot_name}_larm_link_4">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link5 -->
    <gazebo reference="${robot_name}_larm_link_5">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link6 -->
    <gazebo reference="${robot_name}_larm_link_6">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link7 -->
    <gazebo reference="${robot_name}_larm_link_7">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>



    <!-- Link0 -->
    <gazebo reference="${robot_name}_rarm_link_0">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link1 -->
    <gazebo reference="${robot_name}_rarm_link_1">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link2 -->
    <gazebo reference="${robot_name}_rarm_link_2">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link3 -->
    <gazebo reference="${robot_name}_rarm_link_3">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link4 -->
    <gazebo reference="${robot_name}_rarm_link_4">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link5 -->
    <gazebo reference="${robot_name}_rarm_link_5">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link6 -->
    <gazebo reference="${robot_name}_rarm_link_6">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link7 -->
    <gazebo reference="${robot_name}_rarm_link_7">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

  </xacro:macro>

</robot>

